<nav
    class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
    <div
        class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
    >
        <button
            class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
            type="button"
            onclick="toggleNavbar('example-collapse-sidebar')"
        >
            <i class="fas fa-bars"></i></button
        >
        <a
            class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            href="javascript:void(0)"
        >
            SDK Example v{{pkgJson.version}}
        </a>

        <div
            class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded hidden"
            id="example-collapse-sidebar"
        >
            <div
                class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
            >
                <div class="flex flex-wrap">
                    <div class="w-6/12">
                        <a
                            class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
                            href="javascript:void(0)"
                        >
                            SDK Example App
                        </a>
                    </div>
                    <div class="w-6/12 flex justify-end">
                        <button
                            type="button"
                            class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                            onclick="toggleNavbar('example-collapse-sidebar')"
                        >
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="md:flex-col md:min-w-full flex flex-col list-none">
                <li class="items-center">
                    <a class="text-pink-500 hover:text-pink-600 text-xs uppercase pt-3 font-bold block sdk-method cursor-pointer">
                        <i class="fas fa-tv opacity-75 mr-2 text-sm"></i>
                        Identity
                    </a>
                    <ul class="ml-8 mt-1">
                        {{#each sdkMethods.identity}}
                            <li class="items-center">
                                <a class="text-gray-400 hover:text-pink-600 text-xs py-1 font-bold block cursor-pointer nav-item"
                                   data-target="{{this}}">
                                    {{this}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>

                <li class="items-center">
                    <a class="text-pink-500 hover:text-pink-600 text-xs uppercase pt-3 font-bold block sdk-method cursor-pointer">
                        <i class="fas fa-tv opacity-75 mr-2 text-sm"></i>
                        Payment
                    </a>
                    <ul class="ml-8 mt-1 hidden">
                        {{#each sdkMethods.payment}}
                            <li class="items-center">
                                <a class="text-gray-400 hover:text-pink-600 text-xs py-1 font-bold block cursor-pointer nav-item text-pink-600"
                                   data-target="{{this}}">
                                    {{this}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>

                <li class="items-center">
                    <a class="text-pink-500 hover:text-pink-600 text-xs uppercase pt-3 font-bold block sdk-method cursor-pointer">
                        <i class="fas fa-tv opacity-75 mr-2 text-sm"></i>
                        monetization
                    </a>
                    <ul class="ml-8 mt-1 hidden">
                        {{#each sdkMethods.monetization}}
                            <li class="items-center">
                                <a class="text-gray-400 hover:text-pink-600 text-xs py-1 font-bold block cursor-pointer nav-item"
                                   data-target="{{this}}">
                                    {{this}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            <hr class="my-4 md:min-w-full"/>
            <h6
                class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
            >
                Documentation
            </h6>
            <ul
                class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
            >
                <li class="inline-flex">
                    <a
                        class="text-blueGray-700 hover:text-blueGray-500  text-sm block mb-4 no-underline font-semibold"
                        href="https://schibsted.github.io/account-sdk-browser/index.html"
                        target="_blank"
                    >
                        <i class="fa-solid fa-book mr-2 text-blueGray-400 text-base"></i>
                        Account sdk browser
                    </a>
                </li>
                <li class="inline-flex">
                    <a
                        class="text-blueGray-700 hover:text-blueGray-500  text-sm block mb-4 no-underline font-semibold"
                        href="https://github.com/schibsted/account-sdk-browser/"
                        target="_blank"
                    >
                        <i class="fa-brands fa-github mr-2 text-blueGray-400 text-base"></i>
                        Account sdk browser
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
