<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{{pkgJson.name}}</title>
        <link rel="icon" type="image/png" href="/public/favicon.png">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>

        <nav class="navbar navbar-light bg-faded">
            <div class="d-flex justify-content-between">
                <a class="navbar-brand p-1" href="https://github.com/schibsted/sdk-example">
                    <img src="/public/logo-common-components.svg" width="30" height="30" class="d-inline-block align-top mr-1" alt="">
                    {{pkgJson.name}} v{{pkgJson.version}}
                </a>
                <div>
                    {{#if loggedIn}}
                        <button class="btn btn-secondary" id="logout-btn">Log out</button>
                    {{else}}
                        <button class="btn btn-primary" id="login-btn">Login</button>
                        <button class="btn btn-secondary" id="login-async-btn">Login (async)</button>
                    {{/if}}
                </div>
            </div>
        </nav>

        <section class="container">
            
            {{#if config.clientId}}
            <div class="alert alert-success mt-4" role="alert">
                <strong>Well done!</strong> You've logged in to <strong>{{config.clientId}}</strong>.
            </div>
            {{/if}}
            
            <div class="row">
                <div class="col my-3">
                    <div class="card">
                    <img class="card-img-top img-fluid" src="//placehold.it/1280x600/?text=&nbsp;">
                    <div class="card-block">
                        <h4 class="card-title">Donec laoreet sagittis nibh</h4>
                        <p class="card-text">Maecenas dignissim justo sit amet ultricies ultricies. Duis sed ullamcorper eros. Donec nibh lacus, finibus nec urna at, lacinia rutrum.</p>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                    <div class="card">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x250?text=&nbsp;">
                    <div class="card-block">
                        <h4 class="card-title">Quisque eu erat nisl tellus</h4>
                        <p class="card-text">Nunc nibh magna, bibendum vel pellentesque at, mollis vel nisl.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                    <div class="card">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x250?text=&nbsp;">
                    <div class="card-block">
                        <h4 class="card-title">Pellentesque habitant morbi</h4>
                        <p class="card-text">Vivamus efficitur elementum posuere. Ut viverra nunc nec mi.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                    <div class="card">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x250?text=&nbsp;">
                    <div class="card-block">
                        <h4 class="card-title">Pellentesque habitant morbi</h4>
                        <p class="card-text">Suspendisse tincidunt ante ac dui malesuada tempus. In mollis neque.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                    <div class="card">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x250?text=&nbsp;">
                    <div class="card-block">
                        <h4 class="card-title">Suspendisse eu libero</h4>
                        <p class="card-text">Nam vitae nisl ante. Sed eget nibh ullamcorper, euismod leo.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                    <div class="card">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x250?text=&nbsp;">
                    <div class="card-block">
                        <h4 class="card-title">Lorem ipsum dolor</h4>
                        <p class="card-text">Nullam ac finibus purus. Curabitur magna dui, cursus at scelerisque.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                    <div class="card">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x250?text=&nbsp;">
                    <div class="card-block">
                        <h4 class="card-title">Praesent vestibulum tellus</h4>
                        <p class="card-text">Praesent nec ligula in nibh pharetra auctor. Nullam imperdiet ex.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                    <div class="card">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x250?text=&nbsp;">
                    <div class="card-block">
                        <h4 class="card-title">Lorem ipsum dolor</h4>
                        <p class="card-text">Nullam ac finibus purus. Curabitur magna dui, cursus at scelerisque.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                    <div class="card">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x250?text=&nbsp;">
                    <div class="card-block">
                        <h4 class="card-title">Praesent vestibulum tellus</h4>
                        <p class="card-text">Praesent nec ligula in nibh pharetra auctor. Nullam imperdiet ex.</p>
                    </div>
                    </div>
                </div>
            </div>
            
        </section>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{config.sdkJsPath}}" charset="utf-8"></script>
        <script>
        // This stuff will ofc end up in the JS SDK
        $( document ).ready(function() {
            // TODO remove this Workaround
            SPiD.Talk = {
                response: function (id, data) {
                    window[id](data);
                }
            }
            var spid = new SPiD.default({
                serverUrl: '{{config.spidBaseUrl}}',
                popup: true,
                useSessionCluester: false,
                client_id: '{{config.clientId}}',
                redirect_uri: window.location.toString()
            });

            spid.event.addListener('SPiD.logout', function (data) {
                alert('Logged out from SPiD. Need to cancel out session');
            });

            // Check session
            spid.hasSession();

            $('#login-btn').click(function (e) {
                e.preventDefault();
                spid.login(window.location.href + 'safepage');
            });

            $('#login-async-btn').click(function (e) {
                e.preventDefault();
                setTimeout(function () {
                    spid.login(window.location.href + 'safepage');
                }, 100);
            });

            $('#logout-btn').click(function (e) {
                spid.logout();
            });
        });
        </script>
    </body>
</html>
