<!-- loginUrl -->
<div id="loginUrl" class="nav-target hidden">
    <div class="flex flex-col lg:flex-row">
        <div class="p-4 basis-1 md:basis-1/3 w-full">
            <div class="flex flex-col">
                <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">
                    Login properties
                </h3>
                <ul class="w-full text-sm font-medium text-gray-900 border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    {{#each loginProperties}}
                        <li class="border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input type="checkbox" value=""
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                                       id="login-url-{{this.id}}">
                                <label for="login-url-{{this.id}}"
                                       class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                    {{this.name}}
                                </label>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="p-4 basis-1 md:basis-1/3">
            <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">
                Authentication methods
            </h3>
            <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                {{#each authenticationMethods}}
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input type="checkbox"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                                   id="login-url-auth-method-{{@index}}"
                                   name="login-url-login-method">
                            <label for="login-url-auth-method-{{@index}}"
                                   class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                {{this}}
                            </label>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="p-4 basis-1 md:basis-1/3">
            <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">
                Force BankID
            </h3>
            <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                {{#isNotSpidProd}}
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input id="login-url-bank-id-1" type="radio" value="1" name="list-radio"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="login-url-bank-id-1"
                                   class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">BankID
                                NO</label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input id="login-url-bank-id-2" type="radio" value="2" name="list-radio"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="login-url-bank-id-2"
                                   class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">BankID
                                SE</label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input id="login-url-bank-id-3" type="radio" value="3" name="list-radio"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="login-url-bank-id-3"
                                   class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">BankID
                                FI</label>
                        </div>
                    </li>
                {{/isNotSpidProd}}
                {{#isSpidProdWithActiveBankId}}
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input id="login-url-bank-id-1" type="radio" value="" name="list-radio"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="login-url-bank-id-1"
                                   class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">BankID</label>
                        </div>
                    </li>
                {{/isSpidProdWithActiveBankId}}

            </ul>
        </div>
    </div>

    <div class="flex flex-col lg:flex-row">
        <div class="p-4 basis-1/2">
            <label for="login-url-locale" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Locale
            </label>
            <select id="login-url-locale" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="nb_NO">nb_NO</option>
                <option value="fi_FI">fi_FI</option>
                <option value="sv_SE">sv_SE</option>
                <option selected value="en_US">en_US</option>
            </select>
        </div>
    </div>

    <button type="button" id="run-loginUrl"
            class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-4 ml-4">
        Run(TODO)
    </button>
</div>
<script src="dist/loginUrl.min.js"></script>
