<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <title>SDK example APP v{{pkgJson.version}}</title>
    <script>
        // These configs will be filled by handlebars on the server side and js can access them
        window.config = {
            clientId: '{{config.clientId}}',
            exampleProductId: '{{config.exampleProductId}}',
            paymentPublisher: '{{config.paymentPublisher}}',
            sessionDomain: '{{config.sessionDomain}}',
            spidEnv: '{{config.spidEnv}}',
            siteSpecificLogout: {{config.siteSpecificLogout}},
        };
            {{#if config.alternativeClient.paymentPromoCodeProduct}}
            window.config.alternativeClient = {
                paymentPromoCodeProduct: '{{config.alternativeClient.paymentPromoCodeProduct}}',
                clientId: '{{config.alternativeClient.clientId}}',
                publisher: '{{config.alternativeClient.publisher}}',
                redirectUri: '{{config.alternativeClient.redirectUri}}',
            };
            {{/if}}
        if (console && console.log) {
            console.log(JSON.stringify(window.config, undefined, 2));
        }
    </script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body class="text-blueGray-700 antialiased">
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root">
    {{> header }}
    {{{body}}}
    {{> footer }}
</div>
<script type="text/javascript">
    /* Sidebar - Side navigation menu on mobile/responsive mode */
    function toggleNavbar(collapseID) {
        console.log('???');
        document.getElementById(collapseID).classList.toggle("hidden");
        document.getElementById(collapseID).classList.toggle("bg-white");
        document.getElementById(collapseID).classList.toggle("m-2");
        document.getElementById(collapseID).classList.toggle("py-3");
        document.getElementById(collapseID).classList.toggle("px-6");
    }

    /* Function for dropdowns */
    function openDropdown(event, dropdownID) {
        let element = event.target;
        while (element.nodeName !== "A") {
            element = element.parentNode;
        }
        var popper = Popper.createPopper(element, document.getElementById(dropdownID), {
            placement: "bottom-end"
        });
        document.getElementById(dropdownID).classList.toggle("hidden");
        document.getElementById(dropdownID).classList.toggle("block");
    }
</script>

<script src="/dist/tailwind.min.js"></script>
</body>
</html>
